/*Variable*/
$Primary-color: #9356DC;
$Second-color: #FF79DA;
$light-grey: #F6F6F6;
$medium-grey: #353535;
$smoke-grey: #EAEAEA;
$white: white;
$light-green: #99E2D0;

/*Mixin*/

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin linear-purple {
  background: linear-gradient($Second-color, $Primary-color);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "roboto", sans-serif;
}

h2,
h3 {
  font-size: 28px;
  padding-top: 30px;
  margin: 0;
}

p {
  color: $medium-grey;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $medium-grey;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align__item {
  align-items: center;
}

.center {
  text-align: center;
}

.margin__top {
  margin-top: 40px;
}

.margin-left,
.margin-left_title {
  margin-left: 20px;
}

.padding__left {
  padding-left: 20px;
}

/*HEADER*/

.header__logo {
  width: 220px;
  margin: 20px 0px 20px 0px;
}

.header__location {
  gap: 15px;
  background-color: $smoke-grey;
  filter: drop-shadow(0px 2px 4px #7d7d7d);

  p {
    font-weight: 500;
    color: $medium-grey;
    gap: 10px;
  }
}

/*CTA*/

.cta {
  background-color: $light-grey;
}

.cta__button {
  position: relative;
  border: $white;
  @include linear-purple;
  padding: 15px;
  width: 250px;
  border-radius: 30px;
  margin-bottom: 50px;
  transition: transform 300ms ease-in-out;


  &:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.02);
  }
}

.cta__button_txt {
  color: $white;
  font-size: 16px;
}

/*Fonctionnement*/

.fonctionnement {
  @include flex-column;
  margin: 50px 0px 50px 0px;
  gap: 25px;

  img {
    width: 15px;
  }

  .fonctionnement--purple {
    filter: invert(44%) sepia(43%) saturate(5717%) hue-rotate(244deg) brightness(92%) contrast(87%);
  }
}

.fonctionnement__button {
  z-index: 2;
  padding: 10px;
  width: 80%;
  border-radius: 25px;
  filter: drop-shadow(0px 2px 5px rgba(7, 7, 7, 0.2));
  display: flex;
  align-items: center;
  height: 70px;
  gap: 20px;
  background-color: $light-grey;
  color: black;
  transition: 0.2s;
}

.fonctionnement__round {
  background-color: $Primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  top: 25px;
  left: 10px;
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 50%/50%;

  p {
    color: $white;
    font-size: 14px;
  }
}

/*Restaurants*/

.background__resto_mobile {
  background-color: $light-grey;
  position: relative;
  top: 10px;
}

.all__restocard {
  @include flex-column;
  gap: 30px;
  padding-bottom: 130px;

  .restaurant__title {
    display: none;
  }
}

.restaurant__title {
  display: none;
}

.restaurant__card {
  position: relative;
}

.restocard {
  @include flex-column;
  justify-content: center;
  width: 89%;

  img {
    margin-top: 0px;
    object-fit: cover;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .restocard__info {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 10px 0px;
  }

  .restocard__info_title {
    font-size: large;
    padding: 0;
    margin-top: 10px;
  }

  .restocard__info_txt {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.restocard__new {
  display: flex;
  justify-content: end;
  line-height: 0px;
  height: 0px;
}

.restocard__new_position {
  position: relative;
  top: 10px;
  right: 20px;
}

.restocard__new_badge {
  padding: 20px;
  background-color: $light-green;
  color: #008766;
  align-items: center;
  font-weight: 500;
}

.heart__position {
  position: relative;
  top: 25px;
}

.heart__check {
  @include flex-column;
  align-items: center;
  overflow: hidden;
  width: 70px;
  height: 50px;
}

.heart__check_position {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.heart__input {
  flex-direction: column;
  height: 20px;
  width: 40px;
  opacity: 0;
}

.fa-solid {
  background: -webkit-linear-gradient($Second-color, $Primary-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: none !important;
}

.heart__input:checked+.fa-solid {
  display: block !important;
  display: flex;
  align-items: center;
}

/*footer*/

.footer {
  background-color: $medium-grey;
  @include flex-column;
  padding: 20px;

  a {
    color: $white;
  }

  p {
    color: $white;
    margin: 10px 0px;
    font-size: 16px;
    cursor: pointer;
  }

  .footer__icones {
    @include flex-row;
    gap: 5px;

    img {
      width: 15px;
    }
  }

  .footer__link {
    margin: 5px;
  }

  .footer__logo {
    width: 180px;
    padding: 10px 0px 10px 0px;
  }

  .footer__dekstop_logo {
    display: none;
  }
}

/* Loading spinner */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $Primary-color;
  z-index: 999;
  opacity: 1;
  animation: loading 1.5s normal forwards;

  &::before {
    content: "";
    border: 10px solid lightgray;
    border-radius: 50%;
    border-top: 10px solid white;
    width: 60px;
    height: 60px;
    animation: rotate 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes loading {
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  /*index version dekstop*/

  .title__homepage {
    font-size: 40px;
  }

  .header__location {
    filter: none;
  }

  /*Restaurants*/

  .background__resto {
    background-color: $light-grey;
    width: 100%;
  }

  .all__restocard {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    gap: 0px;
    margin-top: 40px;

    .restaurant__title {
      display: block;
    }
  }

  .restaurant__title {
    display: block;
  }

  .restocard {
    @include flex-column;
    padding: 20px 20px;

    img {
      margin-top: 0px;
      height: 250px;
    }
  }

  .restaurant__card {
    position: relative;
    width: 35%;
  }

  .padding__left_dekstop {
    padding-left: 18%;
  }

  .margin-left_title {
    margin-left: 0px;
  }

  /*Fonctionnement*/

  .fonctionnement {
    display: grid;
    margin: 50px 0px 20px 0px;
    grid-template-columns: 24% 24% 24%;
    gap: 20px;
    margin-left: 17%;
  }

  .fonctionnement__txt {
    width: 180px;
    transition: 0.2s;
  }

  .fonctionnement__button:hover .fonctionnement__txt {
    transition: 0.2s;
    color: $Primary-color;
  }

  .fonctionnement__button {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 25px;
    cursor: pointer;

    img {
      transition: 0.2s;
      filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(150deg) brightness(93%) contrast(89%);
    }

    &:hover img {
      transition: 0.2s;
      filter: invert(44%) sepia(43%) saturate(5717%) hue-rotate(244deg) brightness(92%) contrast(87%);
    }
  }

  .heart__check_position {
    position: absolute;
    bottom: 45px;
    right: 55px;
  }

  /*footer*/

  .footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    padding: 60px 10px 10px 0px;

    .footer__logo {
      margin-left: 60px;
      padding: 0;
    }

    .footer__link {
      margin: 10px 0px 10px 0px;
    }

    .footer__dekstop_margin {
      margin-left: 35px;
    }

    .footer__dekstop_logo {
      margin-left: 90px;
      display: block;
    }
  }

  .logo__mobile {
    display: none;
  }
}

/*header menu*/

.header__arrow {
  position: relative;
  width: 30px;
  height: 25px;
  top: 40px;
  left: 20px;
}

.headmenu__background {
  background-color: $white;
}

.headmenu__image {
  object-fit: cover;
  width: 100%;
  height: 420px;
}

.headmenu__image_position {
  position: relative;
  top: 35px;
}

.headmenu__title {
  font-family: "shrikhand", serif;
  font-size: 28px;
}

/*section menu*/

.headmenu__logo {
  width: 230px;
  margin-bottom: 25px
}

.title__heart {
  @include flex-row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.heart__top {
  margin-top: 9px;
}

.menu__all {
  @include flex-column;
  align-items: center;
}

.menu__background {
  position: relative;
  background-color: $light-grey;
  border-radius: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 3;
  width: 100%;
}

.menu__contain {

  @include flex-row;
  justify-content: space-between;
  background-color: $white;
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;

  &:hover .menu__contain {
    margin: 0;
  }
}

.menu__padding {
  padding: 10px 0px 10px 0px;
}

.menu__recette {
  font-size: 22px;
  font-weight: lighter;
}

.menu__recette_padding {
  border-bottom: $light-green 2px solid;
  width: 40px;
}

.menu__card_txt {
  width: 90%;
}

.menu__card_meal {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.menu__card_acc {
  font-size: 18px;
  padding-bottom: 10px;
  margin: 10px 0px 0px 0px;
}

.menu__card_price {
  color: $medium-grey;
  font-weight: bold;
  margin: 40px 5px 0px;
}

.check {
  background-color: $light-green;
  width: 70px;
  margin-right: -70px;
  transition: all 440ms;
}

.check__image {
  position: relative;
  top: 26px;
  left: 21px;
  width: 23px;
}

.price {
  @include flex-row;
  gap: 20px;
}

.menu__contain:hover .check {
  margin: 0;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
  .headmenu__image_position {
    top: 10px;
  }

  /*section menu*/

  .title__heart {
    @include flex-row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
  }

  .menu__contain {
    @include flex-row;
    justify-content: space-between;
    width: 70%;
  }

  .menu__background {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    bottom: 0px;
    padding-top: 30px;
  }

  .menu__recette {
    font-size: 22px;
    font-weight: lighter;
    margin-left: 15%;
  }

  .menu__image {
    top: 20px;
  }

  .check {
    background-color: $light-green;
    margin-right: -60px;
    width: 60px;
  }

  .check__image {
    top: 26px;
    left: 18px;
    width: 23px;
  }

  .menu__card_price {
    margin-right: 5px;
  }

  .price {
    @include flex-row;
    gap: 5px;
  }
}